{{ define "detail" }}

<style>
  #header {
    position: relative;
    padding: 2em;
    border-bottom: 1px solid rgba(34, 36, 38, .15);
  }

  #header>#links {
    padding: 1em 0;
    right: 1em;
    bottom: 2em;
  }

  @media (min-width: 992px) {
    #header>#links {
      position: absolute;
      padding: 0;
    }
  }

  #header>#links>#prev,
  #header>#links>#next {
    color: #606f7b !important;
    text-decoration: underline;
  }

  #solution {
    padding: 2em;
  }

  #solution h1,
  #solution h2,
  #solution h3,
  #solution h4 {
    padding: 0 0 .6em 0;
    color: #3d4852 !important;
  }

  #solution>#question-link {
    text-decoration: underline;
    color: lightcoral;
    font-weight: 500;
  }

  p {
    line-height: 1.5;
  }

  p,
  li {
    color: #606f7b;
  }

  p code,
  li code {
    border-width: 1px;
    border-style: solid;
    border-color: rgb(221, 221, 221);
    border-image: initial;
    border-radius: 4px;
    padding: 0 3px;
  }

  code {
    font-family: 'Go Mono', Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
  }

  pre {
    background-image: linear-gradient(30deg, #011627, #011627) !important;
    font-family: Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace !important;
    color: #f1f5f8 !important;
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
    padding-top: .75rem !important;
    padding-bottom: .75rem !important;
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
    border-bottom-width: 4px !important;
    border-color: #606f7b !important;
    overflow: auto !important;
  }

  pre code {
    line-height: 1.5;
  }
</style>

<link href="https://cdn.jsdelivr.net/npm/highlight.js@9.17.1/styles/night-owl.min.css" rel="stylesheet">

<div id="header">
  <div id="links">
    {{ if .Prev }}
      <a id="prev" href="/{{ .Prev.ID }}">Previous Question</a>
    {{ end }}
    &nbsp;&nbsp;
    {{ if .Next }}
      <a id="next" href="/{{ .Next.ID }}">Next Question</a>
    {{ end }}
    &nbsp;&nbsp;
    <a href="/"><i class="home icon"></i></a>
  </div>

  <span>
    <h2>{{ .ID }}. {{ .Title }}</h2>
  </span>
</div>

<div id="solution">
  <a id="question-link" target="_blank" href="https://leetcode.com/problems/{{ .Slug }}/">>>题目链接</a>
  <p>{{ .Solution }}</p>
</div>

<pre><code class="{{ .Lang }}">{{ .Code }}</code></pre>

<script src="https://cdn.bootcss.com/highlight.js/9.15.10/highlight.min.js"></script>
<script src="https://cdn.bootcss.com/highlight.js/9.15.10/languages/{{ .Lang }}.min.js"></script>
<script>
  hljs.configure({ tabReplace: '  ' })
  hljs.initHighlightingOnLoad();
</script>

{{ end }}