{% extends "base.html" %}

{% block content %}
<link href="//unpkg.com/semantic-ui@2.4.2/dist/components/table.min.css" rel="stylesheet">
<link href="//unpkg.com/semantic-ui@2.4.2/dist/components/label.min.css" rel="stylesheet">

<style>
    #header {
        position: relative;
        padding: 2em;
    }

    #header h1 {
        color: #3d4852;
    }

    #header>#desc {
        position: absolute;
        padding: 0;
        right: 1em;
        bottom: 2em;
    }

    @media (max-width: 991px) {
        #header {
            padding: 0 2em 1.8em 2em;
        }

        #header>#desc {
            position: unset;
            padding: 1em 0;
        }
    }

    #header>#desc>a {
        text-decoration: underline;
        color: #606f7b !important;
    }

    #table-container {
        width: 100%;
        overflow-x: scroll;
    }

    .item:hover {
        background-color: ivory;
    }

    .lang-tag-go {
        color: aliceblue !important;
        background-color: #00ADD8 !important;
    }

    .lang-tag-rust {
        color: aliceblue !important;
        background-color: #DEA584 !important;
    }

    .tag-difficulty {
        position: absolute;
        right: 15px;
        bottom: 15px;
    }

    @media (max-width: 768px) {
        .tag-difficulty {
            position: absolute;
            right: 10px;
            bottom: 30px !important;
        }
    }
</style>

<div id="header">
    <div id="desc">
        Language: &nbsp;
        <a target="_blank" href="https://golang.org/">Go</a>
        &nbsp;
        <a target="_blank" href="https://www.rust-lang.org/">Rust</a>
        &nbsp;&nbsp;
        Author: &nbsp;
        <a target="_blank" href="https://xhu.me/">
            xhu
        </a>
    </div>

    <span>
        <h2> LeetCode 150 </h2>
    </span>
</div>

<div id="table-container">
    <table class="ui single line table">
        <tbody>
            {% for question in questions.iter() -%}
            <tr class="item" style="position:relative">
                <td style="padding: 15px 0 15px 20px">
                    <a href="/{{ question.data.id }}">{{ question.data.id }}. {{ question.data.title }}</a>
                </td>

                <td>
                    {% for i in 0..question.langs.len() -%}
                    <a class="ui tag mini label lang-tag-{{ question.langs[i] }}">{{
                        question.display_langs[i] }}</a>
                    {% endfor -%}
                </td>

                <td></td>

                <td>
                    {% if question.data.difficulty == 1 %}
                    <a class="ui green mini label tag-difficulty">Easy</a>
                    {% else if question.data.difficulty == 2 %}
                    <a class="ui yellow mini label tag-difficulty">Medium</a>
                    {% else %}
                    <a class="ui red mini label tag-difficulty">Hard</a>
                    {% endif %}
                </td>
            </tr>
            {% endfor -%}
        </tbody>
    </table>
</div>
{% endblock %}