{{ define "index" }} <style>
	#header {
		position: relative;
		padding: 2em;
	}

	#header h1 {
		color: #3d4852;
	}

	#header>#desc {
		position: absolute;
		padding: 0;
		right: 1em;
		bottom: 2em;
	}

	@media (max-width: 991px) {
		#header {
			padding: 0 2em 1.8em 2em;
		}

		#header>#desc {
			position: unset;
			padding: 1em 0;
		}
	}

	.tag-difficulty {
		position: absolute;
		right: 0;
		bottom: 0;
	}

	@media (max-width: 768px) {
		.tag-difficulty {
			position: absolute;
			right: 0px !important;
			bottom: 20px !important;
		}
	}

	#header>#desc>a {
		text-decoration: underline;
		color: #606f7b !important;
	}

	#table-container {
		width: 100%;
		overflow-x: scroll;
	}

	.item:hover {
		background-color: ivory;
	}

	.lang-tag-go {
		color: aliceblue !important;
		background-color: #00ADD8 !important;
	}

	.lang-tag-rust {
		color: aliceblue !important;
		background-color: #DEA584 !important;
	}
</style>

<div id="header">
	<div id="desc">
		Language: &nbsp;
		<a target="_blank" href="https://golang.org/">
			Go
		</a>
		&nbsp;
		<a target="_blank" href="https://www.rust-lang.org/">
			Rust
		</a>
		&nbsp;&nbsp;
		Author: &nbsp;
		<a target="_blank" href="https://xhu.me/">
			xhu
		</a>
	</div>

	<span>
		<h2> LeetCode 150 </h2>
	</span>
</div>

<div id="table-container">
	<table class="ui single line table">
		<tbody>
			{{ range . }}
			<tr class="item" style="position:relative">
				<td>
					<a href="/{{ .ID }}">{{ .ID }}. {{ .Title }}</a>
				</td>

				<td>
					{{ range $lang, $content := .Code }}
					<a class="ui tag mini label lang-tag-{{ $lang }}">{{ getDisplayLang $lang }}</a>
					{{ end }}
				</td>

				<td></td>

				<td class="tag-difficulty">
					{{ if eq .Difficulty 1 }}
					<a class="ui green mini label">Easy</a>
					{{ else if eq .Difficulty 2 }}
					<a class="ui yellow mini label">Medium</a>
					{{ else }}
					<a class="ui red mini label">Hard</a>
					{{ end }}
				</td>
			</tr>
			{{ end }}
		</tbody>
	</table>
</div>

{{ end }}